@using System
@using System.Web
@using System.Web.Mvc
@using CrudMVC1.Models 

@model IEnumerable<CrudMVC1.Models.Product>

@{
    ViewBag.Title = "Index";
    var currentPage = ViewBag.Page ?? 1;
    var pageSize = 10;
    var totalItems = Model.Count();
    var totalPages = (int)Math.Ceiling((double)totalItems / pageSize);
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-bordered">
    <tr>
        <th class="bg-info text-center">
            ProductId
        </th>
        <th class="bg-info text-center">
            ProductName
        </th>
        <th class="bg-info text-center">
            CategoryId
        </th>
        <th class="bg-info text-center">
            CategoryName
        </th>
        <th class="bg-info text-center">Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Category.CategoryId)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td class="text-center">
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }, new { @class = "btn btn-success me-2" })
                @Html.ActionLink("Details", "Details", new { id = item.ProductId }, new { @class = "btn btn-secondary me-2" })
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductId }, new { @class = "btn btn-danger me-2" })
            </td>
        </tr>
    }
</table>

<div class="d-flex justify-content-end">
    <ul class="pagination">
        @for (int i = 1; i <= totalPages; i++)
        {
            <li class="page-item @(i == currentPage ? "active": "")">
                <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
            </li>
        }
    </ul>
</div>



